{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>
    <div class="meta">
        <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
        {{ if .Params.tags }}
        <div class="tags">
            {{ range .Params.tags }}
            <a href="/tags/{{ . | urlize }}/" class="tag">#{{ . }}</a>
            {{ end }}
        </div>
        {{ end }}
    </div>

    {{ with .Params.featured_image }}
    <figure class="post-visual">
        <img src="{{ . }}" alt="{{ $.Params.featured_alt | default $.Title }}">
    </figure>
    {{ end }}
    
    {{ .Content }}
</article>
{{ end }}
